@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Inter", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--sans);
	--font-form: var(--sans);
	--color-bg: #feefd7;
	--color-bg: #161616;
	--color-fg: #FF0000;
	--color-fg: #c8c8c8;
	--color-primary: var(--color-black);
	--color-link: var(--color-black);
	--color-focus: var(--color-red);
	--color-mark: var(--color-yellow);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-gray-300);
	--color-button-fg: var(--color-gray-900);
	--color-button-hover: var(--color-gray-400);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* this is a starting place for dark mode - test before deploying */

/* @media screen and (prefers-color-scheme:dark) {
	:root {
		--color-bg: var(--color-gray-900);
		--color-fg: var(--color-gray-100);
		--color-primary: var(--color-white);
		--color-link: var(--color-white);
		--color-focus: var(--color-red);
		--color-mark: var(--color-yellow);
		--color-selection: var(--color-gray-600);
		--color-border: var(--color-gray-600);
		--color-button-bg: var(--color-gray-600);
		--color-button-fg: var(--color-gray-100);
		--color-button-hover: var(--color-gray-700);
		--color-input-bg: var(--color-gray-800);
		--color-input-fg: var(--color-gray-100);
		--color-placeholder: var(--color-gray-400);
		--color-text-outline: var(--color-bg);
	}
} */
.year-label {
    font-size: 24px;
    position: absolute;
    top: 0;
	line-height: 1.2;
    left: 0;
    margin: 0;
	color: #dddddd;
    transform: translate(0,-100%);
}

.year-label span {
	letter-spacing: -1px;
}

.chart-hed {
	font-size: 36px;
	width: 600px;
	margin: 0 auto;
	margin-top: 10px;
	position: absolute;
	left: 0;
	right: 0;
}

.center {
	width: min(600px, calc(100% - 30px));
	margin: 0 auto;
	margin-bottom: 2em;
	font-size: 24px;
	-webkit-font-smoothing: antialiased;
}

.mobile .center {
	font-size: 18px;
}



.counter {
    position: absolute;
    left: 0;
	top: 0;
	font-family: var(--sans);
    width:auto;
    font-size: 14px;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	padding-right: 3px;
	padding-left: 3px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background: var(--color-bg);
}
.img-sprite {
	width: 100%;
	height: 100%;
	border-radius: 7%;
}

.text-annotation {
    border: none;
    box-shadow: none;
    width: auto;
    max-width: 75px;
    height: auto;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 25px;
}

.year-full .counter, .year-grouped .counter, .voter-grid .counter, .year-col .counter {
	background: none;
    color: var(--color-fg);
    font-weight: 400;
	-webkit-font-smoothing: auto;
	transform: translate(0,-100%);
	width: 200px;
	padding: 0;
}

.year-col .counter {
	width: 50px;
}

.counter-big {
    font-size: 16px;
    width: 200px;
}


.subhead {
	font-size: 36px;
}

.spacer {
	height: 30px;
    display: block;
}

.img-wrapper .img-sprite {
	cursor: pointer;
}

.opener a {
	color: #000;
}

.img-wrapper img {
	border-radius: 3px;
	cursor: pointer;
}

.year {
    position: absolute;
    width: 100%;
}
.year-wrapper {
	position: sticky;
	top: 0;
	z-index: 0;
	margin: 0 auto;
}
.steps {
    position: relative;
    z-index: 1000;
	pointer-events: none;
}
.step {
    min-height: 100px;
	padding-left: 50px;
    padding-bottom: 300px;
    max-width: 300px;
	opacity: .2;
	transform: translate3d(0,0,0);
    transition: opacity .5s;
}

.mobile .step {
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(100% - 30px);
}

.mobile .text-annotation {
	margin-left: 0;
	box-shadow: none;
}

.mobile .text-annotation:after {
	content: '';
	width: 100%;
	height: 100%;
	outline: 10px solid var(--color-bg);
	opacity: .95;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.step p {
	font-size: 18px;
}

.span-big .text-inner {
	color: #ddd;
	text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -2px;
    font-size: 40px;
    line-height: 1;
    color: white;
}

.mobile .center-col .span-big .text-inner {
	font-size: 48px;
}

.emphasis {
	font-weight: 600;
}

.active.step {
    opacity: 1;
}

.center-col {
	margin: 200px auto;
}

.mobile .center-col {
	margin-bottom: 100px;
}

.text-wrapper {
	position: relative;
}

.text-wrapper .text-fg {
	z-index: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
	pointer-events: all;
	pointer-events: all;

}

.text-wrapper .text-bg {
	position: absolute;
	top: 0;
	-webkit-font-smoothing: antialiased;
	left: 0;
	opacity: .95;
	/* left: 50%; */
    /* transform: translate(-50%, 0); */
	width: 100%;
}



.redText {
	color: rgb(217, 61, 66);
}


.text-wrapper span {
	font: inherit;
}

.text-fg .text-inner, .text-bg .text-inner {
	padding: 14px 0 11px 0;
	box-shadow: 15px 0 rgba(255,255,255,0), -15px 0 rgba(255,255,255,0);
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	background-color: rgba(255,255,255,0);
	vertical-align: baseline;
}

.text-fg .text-inner i, .text-bg .text-inner i {
	font-style: normal;
}

.text-wrapper span.year2003text {
	background: rgb(57,17,19);
    margin: 0;
    padding: 0 5px;
    border-radius: 5px;
    color: rgb(255,112,117);
}

.text-wrapper span.year2012text {
	background: rgb(55,57,17);
    margin: 0;
    padding: 0 5px;
    border-radius: 5px;
    color: rgb(214,255,112);
}

.text-wrapper span.voters2003text, .center-col span.voters2003text {
	background: rgb(42,25,70);
    margin: 0;
    padding: 0 5px;
    border-radius: 5px;
    color: #eea9eb;
}


.year-label .voters2003title {
	background: rgb(42,25,70);
    margin: 0;
    padding: 0 7px;
    border-radius: 5px;
    color: #eea9eb;
}

.year-label .voters2020title {
	background: rgb(25,70,44);
    margin: 0;
    padding: 0 7px;
    border-radius: 5px;
    color: rgb(112,255,144);
}

.text-wrapper span.voters2020text, .center-col span.voters2020text {
	background: rgb(25,70,44);
    margin: 0;
    padding: 0 5px;
    border-radius: 5px;
    color: rgb(112,255,144);
}

.text-wrapper span.year2020text {
	background: #12313e;
    margin: 0;
    padding: 0 5px;
    border-radius: 5px;
    color: #92beed;
}

.year-label span.year2003title {
	background: rgb(57,17,19);
    margin: 0;
    padding: 0 7px;
    border-radius: 5px;
    color: rgb(255,112,117);
}

.year-label span.year2012title {
	background: rgb(55,57,17);
    margin: 0;
    padding: 0 7px;
    border-radius: 5px;
    color: rgb(214,255,112);
}

.text-annotation img {
	border: 1px solid #535353;
}

.year-label span.year2020title {
	background: #12313e;
    margin: 0;
    padding: 0 5px;
    border-radius: 5px;
    color: #92beed;
}

p.text-bg, p.text-fg {
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 1.125rem;
    line-height: 1.38;
	letter-spacing: 0px;
	-ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.text-bg .text-inner {
	color: var(--color-bg);
	background-color: var(--color-bg);
	box-shadow: 15px 0 var(--color-bg), -15px 0 var(--color-bg);
}

#content .text-wrapper .text-bg span {
	color: var(--color-bg);
	background-color: var(--color-bg);
	letter-spacing: 0px;
	-ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	vertical-align: baseline;
	transform: translate(0,0);
	-webkit-font-smoothing: antialiased;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-variant-ligatures: normal;
}

#content .text-wrapper .text-fg span {
	letter-spacing: 0px;
	-ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	vertical-align: baseline;
	transform: translate(0,0);
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-variant-ligatures: normal;
}

#content .text-wrapper .text-bg a {
	color: var(--color-bg);
}


.highlighted-click {
    font-size: 12px;
    position: absolute;
    left: 0;
    pointer-events: none;
    top: 0;
    width: auto;
    z-index: 100000;
    width: fit-content;
}

.highlighted-click span {
    background-color: white;
    color: black;
    transform:translate(-50%,-100%);
    display: block;
	pointer-events: all;
    text-align: center;
    padding: 0 5px;
}

@media screen and (max-width: 1000px) {
	.text-annotation {
		box-shadow: 0 0 15px 12px var(--color-bg);
	}
}

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

a {
	color: white;
}

h1 {
	font-size: var(--48px, 48px);
	color: #dddddd;
}

h2 {
	font-size: var(--36px, 36px);
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}
